<header class="main">
  <h1>Sign Up</h1>
  <h3>Join Ruby Reader</h3>
</header>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :fname, autofocus: true %>
    <%= f.label :fname, "First Name" %>
  </div>

  <div class="field">
    <%= f.text_field :lname %>
    <%= f.label :lname, "Last Name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autocomplete: "email" %>
    <%= f.label :email %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password" %>
    <%= f.label :password %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <%= f.label :password_confirmation %>
  </div>

  <div class="field">
    <%= f.text_field :reading_goal_minutes %>
    <%= f.label :reading_goal_minutes, "How many minutes a day?" %>
  </div>


  <div class="actions">
    <%= f.submit "Sign up", class: "btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
