<div class="entries__item">
  <% if local_assigns[:timestamp] %>
    <div class="time-stamp">
      <%= entry.created_at.strftime("%A %l:%M %p") %>
    </div>
  <% end %>
  <div class="edit-this">
    <%= link_to raw('<i class="fa fa-trash"></i>'), entry, method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
  </div>
  <h1><%= link_to entry.book_title, entry %></h1>
  <div class="stats">
    <div class="stats__item">
      <h2>
        <%= entry.pages_read %>
        <small>Pages Read</small>
      </h2>
    </div>
    <div class="stats__item">
      <h2>
        <%= entry.minutes_read %>
        <small>Minutes Read</small>
      </h2>
    </div>
  </div>
</div>