<% if user_signed_in? %>
  <header class="main">
    <h1>Today</h1>
    <h3>
      <%= pluralize(@entries_today.count, 'Entry') %>,
      <%= current_user.reading_goal_minutes.to_i %> Minute Goal
    </h3>
    <%=link_to 'New', "#", class: 'add-new-entry new' %>
  </header>

  <div class="add-bottom-space">
    <% if @entries_today.empty? %>
      <div class="gentle-nudge">
        <div class="gentle-nudge__text">
          <h5 class="is-centered is-padded">
            No entries for today. 😕
            <%=link_to "Add Now", new_entry_path, class: 'btn btn--simple new' %>
          </h5>
        </div>
      </div>
    <% else %>
      <div class="entries">
        <%= render :partial => 'entry', :collection => @entries_today %>
      </div>
    <% end %>

    <h5 class="glance is-centered">
      <%= @today_minutes %> of <%= current_user.reading_goal_minutes.to_i %> Minutes
      (<%= goal_seek(@today_minutes, current_user.reading_goal_minutes) %>%)
    </h5>
  </div>
<% else %>
  <header class="main">
    <h1>Today</h1>
    <h3>
      Today's reading goal progress
    </h3>
  </header>

  <div class="gentle-nudge">
    <div class="gentle-nudge__text">
      <main>👋</main>
      <h1>Hello friend!</h1>
      <h2>Today's reading will be here after you <%=link_to "sign up", new_user_registration_path %> or <%=link_to "log in", new_user_session_path %>.</h2>
    </div>
  </div>

<% end %>