<div class="book add-bottom-space">

  <header class="sub">
    <div class="chevron">
      <%= link_to :back do %>
        <%=fa_icon "chevron-left" %>
      <% end %>
    </div>
    <h4 class="is-centered"><%= @entry.created_at.strftime("%b %d, %Y") %></h4>
    <div class="edit">
      <%=link_to "Edit", edit_entry_path %>
    </div>
  </header>
  
  <div class="book__title">
    <h1 class="book-title is-centered" data-title="<%= @entry.book_title %>">
      <%= @entry.book_title %>
    </h1>
    <h4 class="author-field is-centered">
    </h4>

    <div class="book__stats">
      <div class="book__stats__item">
        <div class="book__stats__item--count">
          <%= @entry.pages_read %>
        </div>
        <h3>Pages Read</h3>
      </div>
      <div class="book__stats__item">
        <div class="book__stats__item--count">
          <%= @entry.minutes_read %>
        </div>
        <h3>Minutes Read</h3>
      </div>
    </div>

  </div>

  <div class="book__desc">
    <h4>
    </h4>
  </div>

</div>