<!-- anchored iOS-style navBar -->
<nav class="navBar">

  <li class="navBar__entry <%= current_class?(root_path) %>">
    <%=link_to root_path do %>
      <span class="icon">
        <%= fa_icon "calendar" %>
      </span>
      <h3>Today</h3>
    <% end %>
  </li>

  <li class="navBar__entry <%= current_class?(archive_path) %>">
    <%=link_to archive_path do %>
      <span class="icon">
        <%= fa_icon "archive" %>
      </span>
      <h3>All Entries</h3>
    <% end %>
  </li>

  <li class="navBar__entry <%= current_class?(thisweek_path) %>">
    <%=link_to thisweek_path do %>
      <span class="icon">
        <%= fa_icon "check" %>
      </span>
      <h3>This Week</h3>
    <% end %>
  </li>

  <li class="navBar__entry <%= current_class?('/users/edit') %>">
    <%=link_to edit_user_registration_path do %>
      <span class="icon">
        <%= fa_icon "cog" %>
      </span>
      <h3>Profile</h3>
    <% end %>
  </li>

</nav>