<!DOCTYPE html>
<html>
  <head>
    <title>Readinglog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white-translucent">
    <meta name='viewport' content='viewport-fit=cover, width=device-width, height=device-height, initial-scale=1.0, user-scalable = no'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navigation' %>
    <div class="page">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
